/*
    GLOBAL STYLES FOR KNIFE LEXICON
*/

body {
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    width: 100vw;
    height: 100vh;
}

// Homepage Section
.start {
    background: url(../images/knife-background.jpg) $purple;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        font-family: $quattrocento;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .home-subtitle {
        width: 10em;
        // margin: 0 auto 0 auto;
        line-height: 1.2;
    }
    .home-title {
        font-size: 4rem;
        width: 4rem;
        // margin: 0 auto 0 auto;
        word-wrap: break-word;
        @include breakpoint(small only) {
            width: 2rem;
            font-size: 3rem;
        }
    }
    .making {
        font-size: 1.5rem;
        font-family: $quattrocento;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 5px;
        @include breakpoint(small only) {
            font-size: 1rem;
        }
    }
    .arrow {
        background: $white;
        color: $purple;
        vertical-align: middle;
        padding: 0em .5em 0em .5em;
        border-radius: 5px;
        transition: 200ms ease;
        i {
            padding-top: .3em;
        }
        &:hover {
            background: $purple;
            color: $white;
        }
    }
}

nav {
    text-align:center;
    font-family: $open-sans;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 2px;
    background: $dark-purple;
    div {
        background: $dark-purple;
        .menu-trigger {
            color: $white;
            display: inline-block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            border-bottom: solid 1px $dark-purple;
            transition: all 0.3s ease-out;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $dark-purple;
        @include breakpoint(small only) {
            display: none;
        }
    }
    li {
        display: inline;
        background: $dark-purple;
        @include breakpoint(small only) {
            display: block;
        }
    }
    li a {
        display: inline-block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-bottom: solid 1px $dark-purple;
        transition: all 0.3s ease-out;
        &:hover {
            color: $white;
            border-bottom: solid 1px $white;
        }
        &:active {
            color: $white;
            border-bottom: solid 1px $white;
        }
        &:focus {
            color: $white;
            border-bottom: solid 1px $white;
        }
        &:visited {
            color: $white;
        }
    }
}

// Standard Lexicon Style
.lexicon {
    .lexicon-header {
        background: $purple;
        text-align: center;
        padding: 4em 0 4em 0;
        margin-bottom: 2em;
    }
    min-height: 100vh;
}

// Masonry Gallery
.masonry {
    -webkit-columns: 200px 3;
    -moz-columns: 200px 3;
    columns: 200px 3;
    a img {
        margin-bottom: 1em;
    }
}
